doctype html
html(lang='en')
  head
    title Contact form
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="description" content="The GardenShed Caffee and Garden Shop! ")
    meta(name="robots" contet="index,follow")
    meta(name="author" content="George Crisan")
    meta(name="googlebot" content="index, follow")
    link(href="style.css", rel="stylesheet")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js' ) 
    
  body
    main
      h1 WWW.SUFFOLK-HOLIDAYS.CO.UK
      h2 Want to buy this domain?
    section  
      form(action='/url-to-go-to' method='get' target='_self' autocomplete='off')#contact-form 
        select(name='title')
          option(value="Mr") Mr
          option(value="Mrs" ) Mrs
          option(value="Ms" )  Ms
          option(value="Miss") Miss
          
        input(type="text" name='firstname' placeholder='Name:' required)
        input(type="text" name='surname' placeholder='Surname:' required)
        input(type="email" name='email' placeholder='Email:' required)
        input(type="text" name='phoneNumber' placeholder='Phone:' required)
        textarea(name="message",  rows="10" placeholder='Message:' )
        div.g-recaptcha(data-sitekey='6LemDHMUAAAAAPT8Ri1L9w6qN5XZYFLTnUJawHae')
        button(type='submite') Enquire Now

    script(src='https://www.google.com/recaptcha/api.js' async='' defer='')   
    